html{
    --primary-background:#0284c7;
    --text-color:#FFFFFF;
  
}


.desktop{
    background-color: var(--primary-background);
}

.cap{
    width: 100%;
    max-width: 1024px;
     margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: var(--text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    text-align: left;
    }

    .list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    
    .list2{
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        padding: 10px 15px;
        color: var(--text-color);
        text-decoration: none;
    }
    

.mobile{
    display: none;
    background-color: var(--primary-background);
}

@media (max-width: 768px){
    .desktop {
        display: none;
    }

    .mobile {
      display: flex;
      flex-direction: column;
    }
}

.cap-mobile{
    width: 100%;
    max-width: 1024px;
     margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.title-mobile{
color: var(--text-color);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 35px;
text-align: left;
}




.button-mobule{
    background-color: var(--primary-background);
    color: #F0F9FF;
    font-size: 24px;
}

.list-mobile{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}


.list2-mobile{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 10px 15px;
    color: var(--text-color);
    text-decoration: none;
}

.image{
    background-image: url(hero.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.content{
    max-width: 1024px;
    margin: 0 auto;
}

.heading{
    padding-top: 50px;
    padding-bottom: 35px;
    width: 50%;
    color: #262626;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    
}

@media (max-width: 768px){
     .heading{
         font-size: 35px;
         width: 100%;
     }
}

#Dentо-blue{
    font-size: 56px;
    color: var(--primary-background);
}

@media (max-width: 768px){
    #Dentо-blue{
        font-size: 35px;
        width: 100%;
    }
}

.description{
width: 50%;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color:  #0C4A6E;;
}

@media (max-width: 768px){
    .description{
        width: 100%;
    }
    
}

.button{
    display: flex;
    justify-content: left;
    border: none;
    margin-top: 50px;
}


.blue-button {
    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--text-color);
}

.subtitle{
    color: #0369A1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    padding: 15px 0;
}

.background{
    background: linear-gradient(to right, #4597c778 20%, transparent 100%);
}

.services{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    


}

@media (max-width: 768px){
    .services{
        display: flex;
        flex-direction: column;
    }
    
}


.arrows{
width: 100px;
height: 50px;
margin: auto 0;


}
.arrows-white{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px){
    .arrows{
        margin: 0 auto;
    }
    
}

.breadth{
    display: flex;
    flex-direction: row;
    
}


@media (max-width: 768px){
    .breadth{
       display: flex;
       flex-direction: column;
    }
    
}

.images {
    background-image: url(service-3.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px ;
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
   
  }


  .images-2 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(service-2.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px ;
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    
  }

  .images-3 {
    background-image: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 19.08%, rgba(0, 0, 0, 0) 93.86%), url(service-1.png);
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px ;
    width: calc(100% / 3 - 30px);
    margin: 0 15px;
    
  }

  @media (max-width: 768px){
    .images{
       width: calc(100% / 1 - 30px);
       margin: 15px;
    }
    .images-2{
        width: calc(100% / 1 - 30px);
        margin: 15px;
    }
    .images-3{
        width: calc(100% / 1 - 30px);
        margin: 15px; 
    }
}

  .text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 15px;
    
  }

  .row_2{
      display: flex;
      flex-direction: row;
      margin: 45px 0;
  }

  .subtext{
    padding-left: 15px;
    width: 70%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F0F9FF;
    
  }

  .icons-container{
    width: 60px;
    height: 40px;
    margin-top: 10px;
  }

  

  .background-three{
     background-image: url(background-1.png);
     height: 100%;
    background-position: center;
    background-size: cover;
  }

  .center{
      max-width: 1024px;
      margin: 0 auto;
  }

  .description-2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #171717;
    padding: 10px 0;
  }

  .button-2{
    display: flex;
    justify-content: right;
    border: none;
   
}


.blue-button-2 {
    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--text-color);
}


.reviews{
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 0;
   

}

.review{
    display: flex;
    flex-direction: row;
  
}

@media (max-width: 768px){
    .review{
        display: flex;
        flex-direction: column;

    }
    
}

.reviews-2{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 15px;
    width: calc(100% / 2 - 30px);
    display: flex;
    flex-direction: row;
    padding: 15px;
   
}

@media (max-width: 768px){
    .reviews-2{
        width: calc(100% / 1 - 30px);
       margin: 15px;
    }
}

.names{
   width: 80%;
   padding-left: 15px;

}
.name{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #0284C7;

}

.name-review{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #737373;

}

.icon-container{
    width: 102.82px;
    height: 106px;

}

.icons{
  width: 100%;
  height: 100%;
}

.background-five{
    background:linear-gradient(0deg, rgba(240, 249, 255, 0.8), rgba(240, 249, 255, 0.8)), url(map-background.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}



.department{
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    
   
}

@media (max-width: 768px){
    .department{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
}


.address_container{
    background: #FFFFFF;
    border: 1px solid #0284C7;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(115, 115, 115, 0.25);
    border-radius: 25px;
    margin: 15px;
    width: calc(100% / 3 - 30px)
   
    
}

@media (max-width: 768px){
    .address_container{
    width: calc(100% / 1 - 30px);
    margin: 15px;
    }
}


.row{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.picture{
    width: 25px;
    height: 24px;
}

.picture-1{
    width: 26.93px;
    height: 32.77px;
}


.logo{
  width: 100%;
  height: 100%;
}

.addres{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #075985;
  padding-left: 15px;

}

.weight{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.telephone{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 26px;
color: #075985;
padding-left: 60px;
padding-bottom: 10px;
}

.background-six{
    background: #F0F9FF;
    
}

.contacts{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

@media (max-width: 768px){
    .contact-link{
        display: flex;
        flex-direction: column;
    }
    
}


.row_1{
    display: flex;
    flex-direction: row;
}


.text-color{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #075985;
  
  
}

.networks{
    display: flex;
    flex-direction: row;
}

.social{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #075985;
padding-right: 10px;

}

.license{
 margin-top: 15px;
text-align: right;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 23px;
color: #075985;
}